<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Gossip Project</title>
</head>

  <body>
    <div class="landing">
    <h1>Gossip Girl</h1>
    <p>Gossip Girl here, your one and only source into the scandalous lives of <strong>THP's moussaillon elite</strong>.</p>
    <img src="https://sarahscoop.com/wp-content/uploads/2022/04/gossipgirl_11.jpg" width="400" height="300">
    <h3>SPOTTED: </h3>
    <br>
        GOSSIP COMING SOON
    <br>
    <p>Do you have your own hot tea on these naughty moussaillons? <a href="/new_gossip_from/index">Home</a><strong>SPILL IT, BIATCH !</strong></a></p>

    <p>You know you love me,</p> 
    <p><strong>XOXO Gossip Girl</strong></p>
    <img src="https://i.etsystatic.com/16421349/r/il/802fb6/3258404110/il_794xN.3258404110_mg65.jpg" width="150" height="150">
    </div>
  </body>
</html>