<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Gossip Project</title>
</head>

  <body>
    <div class="landing">
      <h1>Gossip Girl here,</h1>
      <p>Your one and only source into the scandalous lives of <strong>everyone, everywhere.</strong></p>
      <p>The Gossip Project is a place where you can spill the tea on all your naughty friends, family and strangers. Started in Paris, The Gossip Project has now spread to all corners of the world.
      <p>Have you been <strong>SPOTTED</strong>?</p>
    </div>
    <div>
    <img src="https://sarahscoop.com/wp-content/uploads/2022/04/gossipgirl_11.jpg" class="img">
    <br>
    <br>
    <p>Do you have your own hot tea on these naughty moussaillons? <a href="/gossips/index">SPILL IT, BIATCH !</a><strong></strong></a></p>
    </div>

  </body>
</html>