<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Gossip Project</title>
</head>

<body>
<header>

<h1>Our Dedicated Team</h1>

<div class="card-columns">
  <div class="card" style="width: 18rem;">
    <img src="https://www.pravojustice.eu/storage/app/media/Team/Kristin__Kirouac.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ms. Kristin Kirouac</h5>
      <p class="card-text"><strong>Chief Gossip Officer</strong></p>
      <p>kristin.kirouac@gossipproject.com</p>
      <p>+33 07 83 25 55 11</p></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.pravojustice.eu/storage/app/media/Team/Oksana_Tsymbrivska.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ms. Oksana Tsymbrivska</h5>
      <p class="card-text"><strong>President (Queen), Ukraine Office</strong></p>
      <p>oksana.tsymbrivska@gossipproject.com</p>
      <p>+38 095 500 70 44</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</header>
</body>